<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>

 <ul th:fragment="sidebar" class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3 small" th:text="${nombre}"></div>
            </a>

            <!-- Divider -->
          
 <hr class="sidebar-divider my-0">
           
            <!-- Nav Item - Dashboard -->
            <li sec:authorize="hasRole('ROLE_ESTUDIANTE')" th:class="${ (personal!=null)? 'nav-item active': 'nav-item'}">
                <a class="nav-link" th:href="@{/estudiante/info}">
                   <span> <i class="fas fa-user"></i>
                    Informacion Personal</span></a>
            </li>
            
             <li sec:authorize="hasRole('ROLE_ESTUDIANTE')" th:class="${ (info!=null)? 'nav-item active': 'nav-item'}">
                <a class="nav-link" th:href="@{/estudiante/editar-info}">
                   <span> <i class="fas fa-user-edit"></i>
                    Editar Informacion personal</span></a>
            </li>
     <li sec:authorize="hasRole('ROLE_TUTOR')" th:class="${ (propuestas!=null)? 'nav-item active': 'nav-item'}">
         <a class="nav-link" th:href="@{/tutor/proyectos}">
                   <span> <i class="fas fa-user-edit"></i>
                       Mis proyectos </span></a>
     </li>

     <li sec:authorize="hasRole('ROLE_TUTOR')" th:class="${ (info!=null)? 'nav-item active': 'nav-item'}">
         <a class="nav-link" th:href="@{/tutor/edit}">
                   <span> <i class="fas fa-user-edit"></i>
                    Editar Informacion personal</span></a>
     </li>

     <li sec:authorize="hasRole('ROLE_TUTOR')" th:class="${ (personal!=null)? 'nav-item active': 'nav-item'}">
         <a class="nav-link" th:href="@{/tutor/info}">
                   <span> <i class="fas fa-user-edit"></i>
                       Informacion personal</span></a>
     </li>

     <li sec:authorize="hasRole('ROLE_EVALUADOR')" th:class="${ (infoe!=null)? 'nav-item active': 'nav-item'}">
         <a class="nav-link" th:href="@{/evaluador/}">
                   <span> <i class="fas fa-user-edit"></i>
                       Informacion personal</span></a>
     </li>
     <li sec:authorize="hasRole('ROLE_EVALUADOR')" th:class="${ (infoe!=null)? 'nav-item active': 'nav-item'}">
         <a class="nav-link" th:href="@{/evaluador/asignados}">
                   <span> <i class="fas fa-user-edit"></i>
                       Proyectos asignados</span></a>
     </li>



            
             <li sec:authorize="hasRole('ROLE_ESTUDIANTE')" th:class="${ (infop!=null)? 'nav-item active': 'nav-item'}">
                <a class="nav-link" th:href="@{/estudiante/info-propuesta}">
                   <span> <i class="far fa-folder"></i>
                    Informacion Proyecto</span></a>
            </li>
            
            <li sec:authorize="hasRole('ROLE_ESTUDIANTE')" th:class="${ (infoe!=null)? 'nav-item active': 'nav-item'}">
                <a class="nav-link" th:href="@{/estudiante/editar-propuesta}">
                   <span><i class="fas fa-edit"></i>
                    Editar Proyecto</span></a>
            </li>

             <li sec:authorize="hasRole('ROLE_ESTUDIANTE')" th:class="${ (infoe!=null)? 'nav-item active': 'nav-item'}">
                 <a class="nav-link" th:href="@{/estudiante/agregar-compañero}">
                   <span><i class="fas fa-edit"></i>
                    Agregar Compañero</span></a>
            </li>
            
            

            



            <!-- Nav Item - Pages Collapse Menu -->
            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" th:class="${ profesor!=null ? 'nav-item active':'nav-item'}">
                <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-user"></i>
                    <span>Profesores</span>
                </a>
                <div id="collapseTwo" th:class="${ profesor!=null ? 'collapse show':'collapse'}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listado de profesores:</h6>
                        <a class="collapse-item" th:href="@{'/admin/profesores-activos'}"> <i class="fas fa-lock-open"></i> <span>Activos</span> </a>
                         <a class="collapse-item" th:href="@{'/admin/profesores-inactivos'}"><i class="fas fa-lock"></i> <span>Inactivos</span></a>
                    </div>
                </div>
            </li>
            
             <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"  th:class="${(add==null) ?'nav-item':'nav-item active' }">
                <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapse3"
                    aria-expanded="true" aria-controls="collapse3">
                    <i class="fas fa-user"></i>
                    <span>Agregar usuario</span>
                </a>
                <div id="collapse3" th:class="${ add!=null ? 'collapse show':'collapse'}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listado de roles</h6>
                        <a class="collapse-item" th:href="@{'/admin/add/director'}"> <i class="fas fa-lock-open"></i> <span>Director</span> </a>
                         <a class="collapse-item" th:href="@{'/admin/add/evaluador'}"><i class="fas fa-lock"></i> <span>evaluador</span></a>
                   		   <a class="collapse-item" th:href="@{'/admin/add/admin'}"><i class="fas fa-lock"></i> <span>admin</span></a>
                   		
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"  th:class="${ propuestas!=null ? 'nav-item active':'nav-item'}" >
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-folder"></i>
                    <span>Proyectos</span>
                </a>
                <div id="collapseUtilities" th:class="${ propuestas!=null ? 'collapse show':'collapse'}" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listado de proyectos:</h6>
                        <a class="collapse-item" th:href="@{'/admin/proyectos-espera'}"><i class="far fa-clock"></i> Espera</a>
                        <a class="collapse-item" th:href="@{'/admin/proyectos-aprobados'}"><i class="fas fa-check"></i> En evaluacion</a>
                        <a class="collapse-item" th:href="@{'/admin/proyectos-finalizados'}"><i class="fas fa-check-double"></i> Finalizados</a>
                    </div>
                </div>
            </li>

            <li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="nav-item">
                <a class="nav-link" th:href="@{'/admin/generarReporte'}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Generar Reportes</span></a>
            </li> 

        </ul>

</body>
</html>