<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/headEstudent :: headEstudiante"></head>

<body>


    <div id="wrapper">
        <ul th:replace="layout/sidebar :: sidebar">
        </ul>
          
        <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
      		 <nav th:replace="layout/topbar :: topbar"></nav>
        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block" >
            
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Informacion de la propuesta</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <label class="label text-dark" for="titulo">Titulo: </label>
                                    <input type="text" readonly th:value="${propuesta.titulo}" class="form-control" id="titulo"
                                        placeholder="titulo">
                                </div>

                                <div class="form-group">
                                    <label class="label text-dark" for="descripcion">Descripcion: </label>
                                    <textarea name="descripcion" readonly th:text="${propuesta.decripcion}" class="form-control" id="descripcion" cols="34" rows="8"></textarea>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                    <label class="label text-dark" >Propuesta: </label>
                                    <a class="btn btn-link" th:href="@{'/estudiante/download/'+${propuesta.documento}}">Descargar Documento </a>
                                   
                                </div>
                                <div class="col-sm-6">
                                    <label class="label text-dark" for="tutor">Tutor </label>
                                    <input  type="text" id="tutor" readonly class="form-control" th:value="${(tutor == null) ? 'No tiene tutor asignado': tutor.usuario.nombres}" >
                                   
                                 </div> 
                                      
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label class="label text-dark" for="estado">Estado </label>
                                        <input type="text" th:value="${propuesta.estado.nombre}" readonly class="form-control" id="estado" name="documento">
                                       
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="label text-dark" for="tipo-proyecto">Tipo proyecto: </label>
                                        <input type="text" th:value="${propuesta.tipoProyecto.name}" readonly class="form-control" id="tipo-proyecto" name="documento">
                                     </div>
                                </div>
									<div sec:authorize="hasRole('ROLE_ESTUDIANTE')" class="form-group text-center text-dark" th:if="${propuesta.tipoProyecto.documentos==0}">Este proyecto no contiene documentos externos</div>
									<div sec:authorize="hasRole('ROLE_ESTUDIANTE')" class="form-group" th:if="${propuesta.tipoProyecto.documentos==1}">
									<a sec:authorize="hasRole('ROLE_ESTUDIANTE')" th:if="${propuesta.documentos==null || propuesta.documentos.isEmpty()}" th:href="@{/estudiante/add-documento}" class="btn btn-warning btn-block">Cargar Documentos</a>
									<a  sec:authorize="hasRole('ROLE_ESTUDIANTE')"th:if="${propuesta.documentos!=null && not propuesta.documentos.isEmpty()}" th:href="@{/estudiante/see-documento}" class="btn btn-warning btn-block">Ver documentos </a>
									</div>
									<div sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="form-group" th:if="${propuesta.tipoProyecto.documentos==1}">
									<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')" th:if="${propuesta.documentos==null || propuesta.documentos.isEmpty()}"  class="btn btn-warning btn-block">Esta Propuesta no tiene documentos</a>
									<a  sec:authorize="hasRole('ROLE_ADMINISTRADOR')"th:if="${propuesta.documentos!=null && not propuesta.documentos.isEmpty()}" th:href="@{'/admin/propuesta/'+${propuesta.idProyecto}+'/documentos'}" class="btn btn-warning btn-block">Ver documentos </a>
									</div>
									
									
                                <div sec:authorize="hasRole('ROLE_ESTUDIANTE')" class="form-group row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-danger btn-block">Eliminar Propuesta </a>
                                       
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-block">Ver calificadores </a>
                                     </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
	</div>
    </div>
 <div th:replace="layout/import-js :: import-js"></div>

</body>

</html>