
<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">

<head th:replace="layout/head :: head">

</head>

<body class="bg-gradient bg-danger">

<div class="container" style="margin-right: auto;">

    <div class="card o-hidden border-0 shadow-lg my-5 " style="margin-right: auto;">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block" ></div>
                <div class="col-lg-4 ">
                    <div class="p-5 ">
                        <div class="center text-center">
                            <img th:src="@{images/ufps.png}" alt="Logo ufps">
                        </div>
                        <br>
                        <div class="text-center" >
                            <h1 class="h4 text-gray-900 mb-4">Recuperar Contraseña</h1>
                        </div>
                        <form class="user" th:action="@{/forgot_password}" method="post">
                            <div class="form-group">


                                <label class="label text-dark" for="codigo">Codigo </label>
                                <input type="text" class="form-control" id="codigo" name="codigo">

                            </div>
                            <p th:if="${error!=null}" class="text-danger" th:text="${error}"></p>
                            <p th:if="${message!=null}" class="text-success" th:text="${message }"></p>
                            <div class="form-group">
                                <input type="submit"  value="Enviar Email" class="btn btn-danger btn-block" >
                            </div>




                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<diV th:replace="layout/import-js :: import-js"></diV>

</body>

</html>