<!DOCTYPE html>
<html xmlns:th="http://www.thymelear.org">

<head th:replace="layout/head :: head">

</head>

<body class="bg-gradient bg-danger">

<div class="container" style="margin-right: auto;">

    <div class="card o-hidden border-0 shadow-lg my-5 " style="margin-right: auto;">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block" ></div>
                <div class="col-lg-4 ">
                    <div class="p-5 ">
                        <div class="center text-center">
                            <img th:src="@{images/ufps.png}" alt="Logo ufps">
                        </div>
                        <br>
                        <div class="text-center" >
                            <h1 class="h4 text-gray-900 mb-4">Cambiar Contraseña</h1>
                        </div>
                        <form class="user" th:action="@{/reset_password}" method="post" >
                            <input type="hidden" name="token" th:value="${token}" />
                            <div class="form-group">


                                <label class="label text-dark" for="password">password </label>
                                <input type="password" name="password" id="password" class="form-control"
                                       placeholder="Enter your new password" required autofocus />

                            </div>

                            <div class="form-group">


                                <label class="label text-dark" for="password">Repeat your password </label>
                                <input type="password" name="passwordRepeat" class="form-control" placeholder="Confirm your new password"
                                       required oninput="checkPasswordMatch(this);" />

                            </div>


                            <p th:if="${error!=null}" class="text-danger" th:text="${error}"></p>
                            <p th:if="${message!=null}" class="text-danger" th:text="${message }"></p>
                            <p th:if="${success!=null}" class="text-success" th:text="${success}"></p>
                            <div class="form-group">
                                <input type="submit"  value="Cambiar contraseña" class="btn btn-danger btn-block" >
                            </div>




                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<diV th:replace="layout/import-js :: import-js"></diV>

</body>

</html>